$orange: #F5A061;
$dark_red: #DD6C6C;
$dark_blue: #4691DB;
$dark_blue_on_hover: #1A62A9;
$dark_green: #5cb85c;
$gray: #777777;
$yellow: #E2D601;
$light_green: #7BC96C;
$light_orange: #F7C362;
$light_gray: #D5DFEA;
$light_blue: #88c7eb;
$red: #F45151;
$button_on_hover: #F5F5F5;
$border-gray: #E6E6E6; //disabled grey
$tab-gray: #68687B;
$button-gray: #A0A0A0;
$icon-color: #616C7E; //and headers
$table-header-border-blue: #C5DDF0;
$table-striped-backgrownd-blue: #F2F4F7;
$background-gray: #F2F5F7;
$toggle-dark-border: #8f9aa0;
$text-gray: #8f9aa0;
$text-grey: #8f9aa0;
$light-text-gray: #ACACAC;
$customer-signature-border-gray: #E5E5E5;
$hover-blue: #E4F0FC;
$near-black: #3E3E3E;
$text-light-grey: #8A8D98;
$tabs-line-gray: #C6D0E0;
$tabs-line-grey: #C6D0E0;
$disabled-gray: #B4B7B4;
$background: #EEE;
$black: #000000;
$white: #ffffff;
$dates-color: #6F7072; //used in crm-menu notes
$quicksearch-icon-gray: #616C7E;
$border-note-gray: #F1F1F1;
$note-backgrownd-yellow: #FCF8E3;
$note-border-brown: #F0ECD6;
$note-text-brown: #8A6D3B;
$dashed-border-gray: #CDD4E2;
$border-light-blue: #EBF5FF;
$icon-gray: #3F3F3F;
$table-background-light-blue: rgba(197,221,240, 0.16);
$label-gray: #686B7B;
$label-orange: #FFB200;
$label-yellow: #D8CD0F;
$label-background-red: rgba($dark_red, 0.2);
$label-background-green: rgba($dark_green, 0.2);
$label-background-blue: rgba($dark_blue, 0.2);
$label-background-orange: rgba($label-orange, 0.2);
$label-background-yellow: rgba($label-yellow, 0.2);
$label-background-grey: rgba($label-gray, 0.2);
$no-matches-found: #00000061;
////eDynamix Color Pallete
$edy-black: #000;
$edy-white: #FFF;
$edy-gray-1: #2C2F3E;
$edy-gray-2: #3C3F4E;
$edy-gray-3: #515565;
$edy-gray-4: #686B7B;
$edy-gray-5: #616C7E;
$edy-gray-6: #8F9AA0;
$edy-gray-7: #9DA3A7;
$edy-gray-8: #B4B7BA;
$edy-gray-9: #D1D1D1;
$edy-gray-10: #E6E6E6;
$edy-gray-11: #E8EDEE;
$edy-gray-12: #EEEEEE;
$edy-blue-1: #4691DB;
$edy-blue-2: #1A62A9;
$edy-blue-3: #50A2D2;
$edy-blue-4: #7DCDE0;
$edy-blue-5: #88C7EB;
$edy-blue-6: #C5DDF0;
$edy-blue-7: #C6D0E0;
$edy-blue-8: #F2F5F7;
$edy-blue-9: #F5F8FD;
$edy-green-1: #5CB85C;
$edy-green-2: #7BC96C;
$edy-green-3: #9AD290;
$edy-green-4: #B8DEB1;
$edy-red-1: #DD6C6C;
$edy-red-2: #C70066;
$edy-red-3: #dd6c6c;

$edy-orange-1: #FFB200;
$edy-orange-3: #F5A061;
$edy-orange-2: #F7C362;
$edy-yellow-1: #D2B702;
$edy-yellow-2: #D8CD0F;
$edy-yellow-2: #FCF8E3;
$edy-purple-1: #CD76E8;
$edy-pink-1: #FF69B4;
// https://coolors.co/palette/d9ed92-b5e48c-99d98c-76c893-52b69a-34a0a4-168aad-1a759f-1e6091-184e77
$pallete-0: #5cb85c; //green
$pallete-1: #3fc1c0;
$pallete-2: #20bac5;
$pallete-3: #00b2ca;
$pallete-4: #04a6c2;
$pallete-5: #0899ba;
$pallete-6: #0f80aa;
$pallete-7: #16679a;
$pallete-8: #1a5b92;
$pallete-9: #1c558e;
$pallete-10: #1d4e89;
