.lightbox-example, .gallerize-example {
  margin: 2em;
}

.halls-wrapper {
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 0px !important;
  margin: 1rem !important;

  mat-card-content {
    opacity: 0.85;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  }
}

.gallery-wrapper {
  text-align: center;
  margin-top: 25px;

  .ngx-gallery {
    display: inline-block;
    margin-bottom: 20px;
  }
}

.write-us {
  font-family: 'Azbuki-Regular' !important;
  font-size: 2.4rem;
  font-weight: 900;
}

.active {
  box-shadow: inset 0 0 0 1px #adadad;
  border-radius: 4px;
  background-color: #39a0bf !important;
  color: white !important;
}

.desktop {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.mobile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  h4 {
    padding-top: 15px;
  }
}

.description {
  color: black;
  font-family: 'Azbuki-Regular';
  font-size: 24px;
  padding-left: 1rem;
}

.text {
  color: black;
  font-family: 'Azbuki-Regular';
}

.halls-name {
  color: white;
  font-weight: 600;
  background-color: #f15d16;
  width: fit-content;
  padding: 1rem;
  border-radius: 35px;
}

.elementor-507 {
  background-image: url('http://tsfrecords-env-1.eba-py3wdapa.eu-north-1.elasticbeanstalk.com/images/icons/dot.png');
  background-repeat: repeat;
}

.mobile-gallery {
  ngx-gallery {
    height: 280px !important;
  }
}

.desktop-gallery {
  ngx-gallery {
    height: 400px !important;
  }
}

.image-preview-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 0.5em;
}

.remove-image {
  cursor: pointer;
  color: #f15d16;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 7rem;
  margin-bottom: 1em;
}

.image-preview img {
  height: 100%;
}

.save-button {
  font-family: 'Azbuki-Regular' !important;
  font-size: 20px;
  width: fit-content;
}

.image-preview-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 0.5em;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.text-wrapper {
  margin-bottom: 20px;
  width: 100%;
  margin-left: 1rem;

  .flex-center {
    display: flex;
    justify-content: center;
  }

  .update-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1em;
  }
}

.update-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}
